@import '../../assets/styles/mixins';

label.textarea {
  width: 100%;
  display: flex;
  flex-direction: column;
  .area-field {
    @include fieldSharedStyles();
    min-height: rem(200);
    padding: rem(12);
  }
  .err {
    @include fieldErrorStyles();
  }
}
