@import '../../assets/styles/mixins';

.gists {
  margin-top: rem(48);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-gap: rem(60);
  .each-gist {
    .title-holder {
      .field-label {
        max-width: 60%;
      }
    }
    .content-holder {
      margin-top: rem(20);
      .textarea {
        max-width: 60%;
      }
    }
  }
}
