@import '../../assets/styles/mixins';

label.field-label {
  width: 100%;
  display: flex;
  flex-direction: column;
  .input-item {
    @include fieldSharedStyles();
  }
  .err {
    @include fieldErrorStyles();
  }
}
