@import "fonts";
@import "variables";
@import "reset";
@import "mixins";

html {
  font-size: $baseFontSize + px;
  font-size: 10px;
  font-family: 'Roboto', sans-serif;
}

body {
  background-color: var(--color-a);
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: rem(1440);
  width: 100%;
}

.page-heading {
  font-size: rem(45);
  margin-top: rem(48);
  margin-bottom: rem(24);
  padding-left: rem(38);
}

.page-content {
  border-radius: rem(15);
  border: rem(1) solid var(--color-b);
  background-color: var(--color-c);
  padding: rem(38);
}
