@import "variables";

@function rem($size) {
  @return ($size / $baseFontSize) + rem;
}

@mixin placeholder {
  &::-webkit-input-placeholder {
    @content;
    opacity: 1;
  }
  &:-moz-placeholder {
    @content;
    opacity: 1;
  }
  &::-moz-placeholder {
    @content;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    @content;
    opacity: 1;
  }
}

@mixin fieldSharedStyles {
  width: 100%;
  height: rem(60);
  border-radius: rem(8);
  border: rem(2) solid var(--color-b);
  padding: 0 rem(12);
  font-size: rem(25);
  @include placeholder {
    color: var(--color-b);
  }
}

@mixin fieldErrorStyles {
  color: var(--color-f);
  margin-top: rem(8);
  font-size: rem(16);
}
